table {
	font: 11px/24px Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table.big {
	min-width: 1300px;
}

table.autoalternate tr:nth-child(even){ background-color: #b8d1f3; }
table.autoalternate tr:nth-child(odd){ background-color: #dae5f4; }

th {
    border-top: 1px solid #FB7A31;
    border-bottom: 1px solid #FB7A31;
    background: #FFC;
}
tr.d0 {

}
tr.d1 {

}

tr.r1 {
    background-color: #b8d1f3;
}
tr.r2 {
    background-color: #dae5f4;
}

td {
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 0 0.5em;
    }
td.wrappable {
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}

h1 {
	text-align:center;
	padding:0px;
	margin:0px;
}

a.back {
	position:absolute;
	top:20px;
	right:100px;
}

.subtitle {
	text-align:center;
	padding:0px;
	margin-bottom:10px;
	margin-top: -15px;
}

textarea.XML {
	font-family: "Courier New", Courier, monospace;
	padding:8px;
	width:800px;
	margin-left:30px;
	resize:none;
	overflow: hidden;
	border: 2px dashed #FB7A31;
	border-radius: 10px;
}

body {
 margin-right:30px;
}

h4{
	font: 16px Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid #FB7A31;
	padding: 5px 5px 5px 10px;
	max-width: 100%;
	background-color: #FFC;
}

.search-form{
    width: 1200px;
	border: 1px solid #FB7A31;
    padding: 5px 5px 5px 10px;
    font: 11px Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFC;
	overflow: hidden;
	position: relative;
}
.search-form h4{
	border: 0px;
	padding: 0px;
	margin: 0px;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    /*margin-bottom: 20px;*/
    padding-bottom: 3px;
}

.search-form form{
	margin-top: 10px;
}

.search-form label{
    display: block;
    margin: 0px 0px 2px 0px;
}
.search-form label.main > span{
    width: 120px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

input.input-field,
select.input-field,
input.input-field-date{
	width: 200px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 5px;
    outline: none;
}

input.input-field-box{
	display: none;
}

input.input-field-box + label{
    display: inline-block;
    cursor: pointer;
    position: relative;
	padding-top: 8px;
    padding-left: 20px;
    margin-right: 5px;	
	width: 50px;
}

input.input-field-box + label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
	top: 5;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

input.input-field-box + label:before{
	border-radius: 3px;
}

input[type=checkbox]:checked+ label:before{
	content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
	
.input-field:focus{
    border: 1px solid #0C0;
}

.input-field-date:focus{
    border: 1px solid #0C0;
	padding-top: 3px;
	padding-bottom: 2px;
}

input[type=submit],
input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

input[type=submit].shifts,
input[type=button].shifts{
    border: 2px;
    padding: 1px 1px 1px 1px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

input[type=submit]:hover,
input[type=button]:hover{
    background: #EA7B00;
    color: #fff;
}

.form-submit{
	position: absolute;
	bottom: 0;
	right: 0;
}

.search-form .leftsearch{
	position: relative;
	width: 600px;
	float: left;
	height: 120px;
}

.search-form .rightsearch{
	position: relative;
	width: 595px;
	float: left;
	height: 120px;
}

.leftarea{
	position: relative;
	width: 600px;
	float: left;
}

.rightarea{
	position: relative;
	width: 595px;
	float: left;
}

.help_content{
	position: relative;
	width: 1000px;
}

.left_column{
	float: left;
}
.right_column{
	float: right;
}


.loading{
	text-align: center;
	vertical-align: middle;
	height: 40px;
	font-weight: bold;
	background: #FB7A31;
}

.floating_window{
	position: fixed;
	float:right;
	width: 500px;
	display: block;
	top:100px;
	right:20px;
}
</style>
